body {
    background: #192226 !important;
}

.navbar a {
    color:#a3bfc6 !important;
}

.navbar {
    border-bottom: 4px solid #ee445f;
}

@media only screen and (min-width:992px) {
    #navbarNavDropdown {
        display: flex;
        justify-content: space-between;
    }
}
